/* metaboxes */
ul.metabox-tabs {
	margin-bottom: 5px;
	padding: 0 10px 0 10px;
	background: #e1e1e1;}
ul.metabox-tabs {
	margin-left: -10px !important;
	margin-right: -10px !important;
}
ul.metabox-tabs {
	height: 24px;
	margin-top: -11px !important;
}
ul.metabox-tabs li {
	list-style: none;
	display: inline;
	font-size: 11px;
}
ul.metabox-tabs li.tab a {
	display: block;
	float: left;
	margin-right: 4px;

	padding: 5px 6px;
	filter:alpha(opacity=50);
	opacity: .5;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	background: #fff;
	color: #000;
	color: #454545\9; /* IE8 and below */
	border-radius: 2px 2px 0 0;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	font-weight: bold;
	text-decoration: none;
	zoom: 1;
}
ul.metabox-tabs li.tab a {
	/* for some reason, opacity doesn't work in IE */
	background: #f0f0f0\9; /* IE8 and below */
}
ul.metabox-tabs li.tab a.active,
ul.metabox-tabs li.tab a:hover {
	background: #fff;
	opacity: 1;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);

		color: #454545;
	}
body.admin-color-fresh ul.metabox-tabs,
body.admin-color-classic ul.metabox-tabs {
		background: #ececec;
	border-bottom: 1px solid #dfdfdf;
		box-shadow: 0 1px 0 0 #fff;
}
body.admin-color-fresh ul.metabox-tabs li.tab a,
body.admin-color-classic ul.metabox-tabs li.tab a {
	-moz-box-shadow: inset 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

		background-color: #f6f6f6;
	border-left: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
	border-top: 1px solid #dfdfdf;

	height: 13px;
}

body.admin-color-fresh ul.metabox-tabs li.tab a.active,
body.admin-color-classic ul.metabox-tabs li.tab a.active,
body.admin-color-fresh ul.metabox-tabs li.tab a:hover,
body.admin-color-classic ul.metabox-tabs li.tab a:hover {
		background-color: #f6f6f6;
	background-image: -ms-linear-gradient(top,#fefefe,#f6f6f6) !important;
	background-image: -moz-linear-gradient(top,#fefefe,#f6f6f6) !important;
	background-image: -o-linear-gradient(top,#fefefe,#f6f6f6) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#fefefe),to(#f6f6f6)) !important;
	background-image: -webkit-linear-gradient(top,#fefefe,#f6f6f6) !important;
	background-image: linear-gradient(top,#fefefe,#f6f6f6) !important;

	height: 15px;

}

body.admin-color-fresh ul.metabox-tabs li.tab a.active,
body.admin-color-classic ul.metabox-tabs li.tab a:hover {
	background: #f4f4f4;
}


/* Classic */
body.admin-color-classic ul.metabox-tabs {
		background: #f1f8ff;
	border-bottom: 1px solid #d3e4ef;
		box-shadow: 0 1px 0 0 #fff;
}
body.admin-color-classic ul.metabox-tabs li.tab a {
	-moz-box-shadow: inset 0 1px 0 white;
	-webkit-box-shadow: inset 0 1px 0 white;
	box-shadow: inset 0 1px 0 white;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

		background-color: #f8fcfe;
	border-left: 1px solid #d3e4ef;
	border-right: 1px solid #d3e4ef;
	border-top: 1px solid #d3e4ef;

	height: 13px;
}

body.admin-color-classic ul.metabox-tabs li.tab a.active,
body.admin-color-classic ul.metabox-tabs li.tab a:hover {
		background-color: #f8fcfe;
	background-image: -ms-linear-gradient(top,#ffffff,#f8fcfe) !important;
	background-image: -moz-linear-gradient(top,#ffffff,#f8fcfe) !important;
	background-image: -o-linear-gradient(top,#ffffff,#f8fcfe) !important;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#f8fcfe)) !important;
	background-image: -webkit-linear-gradient(top,#ffffff,#f8fcfe) !important;
	background-image: linear-gradient(top,#ffffff,#f8fcfe) !important;

	height: 15px;

}

body.admin-color-classic ul.metabox-tabs li.tab a:hover {
	background: #f4f4f4;
}

ul.metabox-tabs li.link {
    margin-left: 4px;
}

.postbox .all, .postbox li.link {
    float: right;
    font-size: 11px;
    font-weight: bold;
    margin: 5px 0 0;
}

